
<header class="mb-3">
  <h1>A War of Whispers Loyalty Generator</h1>
  <h2>Welcome!</h2>
</header>

<p>This website will help you generate some more sophisticated loyalty setups, while still keeping them hidden from each other.</p>

<%= link_to 'New Game', new_game_path, class: 'btn btn-success btn-fw mb-3' %><br>
<%= link_to 'Help', help_page_path, class: 'btn btn-info btn-fw' %>